@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body{
    background: url('../imagens_midiasociais/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}



main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 400px;
    background: url('../imagens_midiasociais/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#midias {
    text-align: right;
}

section#midias img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

img#home:hover{
    border: 1px solid rgba(128, 128, 128, 0.603);
    transform: translate(-5px, -5px);
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.650);
    transition: transform .3s;
}

img#git:hover{
    border: 2px solid green;
    transform: translate(-5px , -5px);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.650);
    transition: transform .3s;
}

img#face:hover {
    border: 2px solid rgba(55, 55, 255, 0.753);
    transform: translate(-5px , -5px);
    transform: translate(-5px, -5px);
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.650);
    transition: transform .3s;
}

img#insta:hover {
    border: 2px solid rgb(177, 106, 177);
    transform: translate(-5px , -5px);
    transform: translate(-5px, -5px);
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.650);
    transition: transform .2s;
}

img#twitter:hover {
    border: 2px solid blanchedalmond;
    transform: translate(-5px , -5px);
    transform: translate(-5px, -5px);
    box-shadow:  6px 6px 6px rgba(0, 0, 0, 0.650);
    transition: transform .2s;
}

img#youtube:hover {
    border: 2px solid rgba(224, 26, 26, 0.692);
    transform: translate(-5px , -5px);
    transform: translate(-5px, -5px);
    box-shadow:  6px 6px 6px rgba(0, 0, 0, 0.650);
    transition: transform .2s;
}


